.ak-article-title {
  font-size:20px;
  color: white;
}

.media {
  background-color: #000000;
  padding: 20px 0  20px 0;
}

.article-reason {
  font-size:15px;
  padding: 20px 0 0 20px;
}

.article-summary {
  padding-left: 20px;
}

.article-image {
  display: block;
  max-width: 100%;
  height: auto;
}
